# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# LaTeX auxiliary files
*.aux
*.log
*.toc
*.out
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Other temp files
*.swp
*.tmp


# PDF Files
*.pdf
